:root {
  --background-black: #212121;
  --button-black: #343434;
  --dark-red: #660000;
  --medium-red: #8b0000;
  --regular-red: #a50021;
  --platinum: #e5e4e2;
  --white-text: #f5f5f5;
}

html,
body {
  height: 100%;
  font-family: Montserrat Subrayada;
}

.background {
  background-color: #212121;
}

/*  ---------------  Sign In/ Create Account css ---------------  */
.btn {
  --bs-btn-hover-border-color: var(--regular-red);
}
.btn-log {
  background-color: var(--regular-red);
}
.btn-log1 {
  background-color: var(--regular-red);
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* */

/* --------------- sign in css END ---------------  */
